<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeno.flutter_audio_recorder">

    <application>
        <activity android:name="FlutterAudioRecorderPlugin.kt" />
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
